.main-button {
    background: #fff;
    color: var(--primary-color);
    font-weight: 600;
    padding: 0.8rem 1.8rem;
    border: none;
    border-radius: var(--radius-md);
    transition: all var(--transition-base);
    box-shadow: var(--shadow-lg);
}

.main-button:hover {
    transform: translateY(-3px);
    background: var(--secondary-color);
    color: #fff;
}